# Created by .ignore support plugin (hsz.mobi)
javassist/dump/
javassist/javassist.iml
playground.iml
zookeeper/zookeeper.iml
**/*.iml
**/*.db
**/.vagrant
.idea
.gradle
classes
**/build
jooq/src/generated
elasticsearch/instance/.vagrant
elasticsearch/instance/elasticsearch
vagrant/vagrant-docker-src/vertx-examples
*.log
!elk/compose/filebeat/testdata/*
*.pid
*.port
.vertx/